$card-bg: rgba(grey, 0.1);
$trans-all: all 300ms ease-in-out;
$margins: 15vw;
$gaps: 5vh;

h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}
p,button {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}
h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}
h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.spacer {
    height: $gaps;
}
#dropdown {
    width: 100%;
    font-size: 1.1rem;
    margin: 0.5rem 0rem 2.5rem ;
}

img {
    justify-content: center;
    width:80%;
    margin: auto;
}

li {
    padding: 0.2rem 0;
    list-style-type:none;
    font-size: 1.1rem;
}
body {
    margin: 0px;
}

nav {
    background-color: rgba(0,0,0, 0.8);
    height: 5.5rem;
    color: white;
    div {
        margin: 0 $margins;
        padding: 1vh;
        font-size: 3.5rem;
    }
}



.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: $gaps;
    margin: $gaps $margins;
    height: 70vh;
}
.grid > * {
    padding: 5vh 3vw 6vh;
}





.card {
    background-color: $card-bg;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    &.long {
        grid-column-start: 1;
        grid-column-end: 4;
        column-gap: $gaps;
    }
    &:not(.long) {
        flex-direction: column;
    }
    &:hover {
        box-shadow: 2px 2px 5px rgba($card-bg, 0.35);
    }

}

.long > * {
    display:flex;
    // border: solid 1px green;
    flex-direction: column;
    justify-content: center;
    h2 {
        text-align: center;
    }
    &.small {
        flex-basis:45%;
    }
}




.flex-row {
    display: flex;
    // border: solid 1px blue;
    gap: calc($gaps/2);
    flex-direction: row;
    justify-content: space-between;
}




button {
    margin: calc($gaps/8) 0;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(orange, 0.9);
    background-color: rgba(orange, 0.85);
    border-radius: 5px;
    &:hover {
        background-color: rgba(rgb(255, 94, 0), 0.75);
        transition: $trans-all;
    }
}




// layouts till 320px width
@media (max-width: 1100px) {
    :root {
        font-size: 20px;
    }
    .grid {
        display: block;
        margin: calc($gaps/2) calc($margins/2);

    }
    .grid > * {
        margin: 10%;
    }
    .long {
        display: flex;
        flex-direction: column;
        gap: calc($gaps *1.5);
    }
    .long > * {
        text-align: center;
    }
}

@media (max-width: 660px) {

    nav {      
        height: 9.5rem;
        margin: 0 auto;
    }
    $margins: 0;
} 

@media (max-width:360px){
    :root{
        font-size: 16px;
    }
    nav {      
        div {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
}
